header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 6px 6px 0 rgba(100,100,100,0.1);
}

header h1 {
    font-size: 20px;
    color: #707070;
    margin: 0;
}

p {
    text-align: center;
}

.text {
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
}

.text input {
    height: 24px;
    width: 90%;
    padding: 2px 10px;
}

.radio-group {
    text-align: center;
    border: none;
}

/* ラジオボタンを非表示にする */
input[type="radio"] {
    display: none;
}

label.radio-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]:checked + label.radio-button {
    background-color: #3498db;
    color: #fff;
    border-color: #3498db;
}

.btn {
    text-align: center;
}

.btn1{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    
}
.btn1:active{
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn2 {
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #3cca1f;/*左線*/
    color: #3cca1f;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);   
}

.btn2:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}